name: Trigger CI On Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  Test:
    uses: ./.github/workflows/ut-runner.yml
    if: |
      github.event.pull_request.draft == false
      && !startsWith(github.head_ref, 'release')
    with:
      collect-coverage: true
    secrets: inherit
